body {
    padding: 0;
    margin: 0 auto 0 auto;
    max-width: 1600px;
    font-family: "Noto Sans", sans-serif;
    background-color: #eee;
    color: #444;
}

a {
    color: #a37800;
}

nav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 3;
    overflow: auto;
    animation: animateleft 0.4s;
    background-color: #fff;
    display: none;
    top: 0;
    font-size: 18px;
}

nav > img {
    width: 50%;
    height: 96px;
    border-radius: 4px;
}

nav a, .icon {
    text-decoration: none;
    color: #444;
}

nav > *, #jumps > a > i, #about, #contact  {
    margin: 8px 16px;
}

#jumps {
    margin-left: 0;
    margin-right: 0;
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@media (min-width: 993px) {
    nav {
        display: block !important;
    }
    #overlay, header, nav > i {
        display: none !important;
    }
    #content {
        margin-top: 0 !important;
    }
    #card-container > div.modal {
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #card-container > div.modal > div {
        width: 50em;
        padding: 2em;
        border-radius: 1em;
    }
    #card-container > div.modal > div > :first-child {
        width: 30em;
        height: 100%;
        border-radius: 1em;
    }
    #card-container > div.modal > div > div {
        display:inline-block;
        vertical-align: top;
        margin-left: 2em;
        width: 15em;
    }
}

@media (max-width: 992px) {
    nav {
        display: none;
    }
    #content {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    #card-container > div.modal > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #card-container > div.modal > div > :first-child {
        max-width: 94%;
        max-height: 60%;
        object-fit: contain;
        border-radius: 1em;
        margin: 2%;
    }
    #card-container > div.modal > div > div {
        max-width: 100%;
        padding: 0 1em;
    }
}

nav > i {
    float: right;
    cursor: pointer;
    font-size: 64px !important;
}

#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    animation: opac 0.8s;
    cursor: pointer;
}

@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#jumps > a {
    display: block;
}

#jumps > a:hover {
    background-color: #ccc;
}

#content {
    margin-left: 300px;
    margin-top: 3em;
}

header {
    background-color: #fff;
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header > a > img {
    height: 36px;
    float: right;
    border-radius: 50%;
    margin: 3px;
    opacity: 0.7;
}

header > h2 {
    display: inline-block;
    margin: 0;
    font-size: 32px;
}

header > i {
    cursor: pointer
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    padding: .8rem;
}

#card-container > div.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 4px;
    position: relative;
    max-width: calc(100% - 8px);
}

#card-container > div.card > :first-child  {
    height: 200px;
    margin: 0;
    object-fit: cover;
}

#card-container > div.card > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: .5rem;
    background: rgba(0, 0, 0, 0.2);
    visibility: hidden;
    color: white;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

#card-container > div.card:hover > div {
    visibility: visible;
}

#card-container > :nth-last-child(2) {
    max-width: min(480px, calc(100% - 8px)) !important;
}

#card-container > div.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    color: #444;
    z-index: 4;
    cursor: pointer;
    overflow: auto;
}

#card-container > div.modal > div {
    background-color: white;
    margin: auto 0;
}

model-viewer {
    height: 512px !important;
    display: inline-block;
}

.tag {
    position: absolute;
    top: 0;
    right: 0;
    margin: .3em;
    padding: .2em;
    color: white;
    background-color: rgba(0, 0, 0, .7);
    border-radius: .5em;
    font-size: small;
    font-weight: bold;
}

.icon:hover {
    opacity: 0.6;
}

.large {
    font-size: 36px !important;
}

.bar {
    background-color: #aaa;
    text-align: center;
}

.bar > div {
    background-color: #ffd45c;
    padding: 8px 16px;
    box-sizing: border-box;
}

#resume {
    text-align: center;
    font-size: 20px;
}

#resume > a > div {
    background-color: #666;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    color: #fff;
}

#resume > a > div > i {
    margin-right: 1em;
}

footer {
    background-color: #aaa;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#footer-flex {
    display: flex;
    flex-wrap: wrap;
}

#footer-flex > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#footer-flex > div:first-child {
    background-color: #666;
}

#footer-flex > div:first-child > a {
    color: #fff;
}

#footer-flex > div:last-child {
    background-color: #a37800;
}
